.container {
  width: 50vmax;
  height: 40vmax;
  margin: auto;
  background-color: #1a1a1a;
  word-wrap: break-word;
  border: 0.1vmax solid #535353;
  border-radius: 1.5vmax;
}

.profilePicture {
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: red;
  width: 20%;
  margin: auto;
  margin-top: 2vmax;
}

.username {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 2vmax;
  font-weight: 600;
  margin-top: 1vmax;
}

.walletAddress {
  color: #535353;
  font-size: 1.1vmax;
  margin-top: 0.5vmax;
}

.logOutButton {
  width: 200px;
  margin: auto;
  margin-top: 18vmax;
  background-color: #2e63fb;
  color: #fff;
  border-radius: 0.8vmax;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 3vmax;
  font-size: 1.8vmax;
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 0px;
}

.animation {
  /* animation */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transition-duration: 300ms;
}

.animation:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}