.container {
	width: 50vmax;
	height: auto;
	margin-top: 0.5vmax;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6vmax;
	background-color: #17161d;
	word-wrap: break-word;
	border: 0.1vmax solid #535353;
	border-radius: 1.5vmax;
	padding: 1rem;
}

.profilePicture {
	border-radius: 100vmax;
	aspect-ratio: 1/1;
	width: 3.5vmax;
	height: auto;
	margin: auto;
	margin-top: 5vmax;
	margin-bottom: 4vmax;
	transform: scale(3);
}

.usernameEditBox {
	display: table;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

.usernameEditButton {
	background-color: transparent;
	border: 0;
}

.username {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 2vmax;
	font-weight: 600;
	margin-top: 1vmax;
	display: table-cell;
}

.editUsername {
	width: 1.5vmax;
	display: table-cell;
	cursor: pointer;
}

.walletAddress {
	color: #535353;
	font-size: 1.1vmax;
	margin-top: 0.5vmax;
}

.balance {
	margin: 1vmax 1vmax;
	font-size: 1vmax;
	color: #fff;
}

.logOutButton {
	width: 20vmax;
	margin-top: 18vmax;
	margin-bottom: 2vmax;
	background-color: #2e63fb;
	color: #fff;
	border-radius: 0.8vmax;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	line-height: 3vmax;
	font-size: 1.8vmax;
	text-align: center;
	font-family: "Lato", sans-serif;
	border: 0px;
}

.animation {
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.animation:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}

@media only screen and (max-width: 1200px) {
	.container {
		width: 80%;
	}
	.logOutButton {
	}
}

/* Popup */

.popup {
	background-color: #17161d;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.6vmax;
	border: 0.1vmax solid #535353;
	width: 20vmax;
	height: 5vmax;
	box-shadow: 1px -1px 54px 11px rgba(0, 110, 236, 0.75);
}

.popupInput {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 2vmax;
	background-color: #050111;
	border: 0px;
	border-radius: 1.5vmax;
	color: #fff;
	font-size: 0.9vmax;
	padding-left: 0.5vmax;
	margin-left: 2vmax;
}

.popupTip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 2vmax;
	background-color: #2e63fb;
	color: #fff;
	font-size: 1vmax;
	font-weight: 600;
	border-radius: 1.5vmax;
	margin-left: 1vmax;
	margin-right: 2vmax;
	padding-left: 1vmax;
	padding-right: 1vmax;
	border: 0;
}
