.test1 {
	background-color: #17161d;
	border-radius: 1vmax;

	height: 12vmax;
	margin-bottom: 1vmax;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1vmax;
}
