.container {
	height: 10vmax;
	width: 15vmax;
	margin-right: 0.5vmax;
	color: white;
	position: fixed;
	right: 0;
	display: flex;
	justify-content: right;
}
.CreateButton {
	margin-top: 0.75vmax;
	margin-right: 12.5vmax;
	width: 7.5vmax;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2vmax;
	border-radius: 1vmax;
	background-color: #2e63fb;
	font-size: 1.5vmax;
	text-decoration: none;
}
.Logo {
	height: 3vmax;
	margin-right: 1vmax;
	width: 3vmax;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3vmax;
	border-radius: 1vmax;
	background-color: #2e63fb;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
.action:link {
	text-decoration: none;
}
@media only screen and (max-width: 1200px) {
	.container {
		bottom: 0px;
		z-index: 9999;
		margin-bottom: -2.5vmax;
		display: flex;
	}
	.CreateButton {
		margin-right: 5.5vmax;
		margin-top: 2vmax;
	}
}
