.container {
	width: 35vmax;
	margin: 2rem auto;
	justify-content: center;
	color: white;
}
.JourneyText {
	text-align: left;
	font-size: 1.75vmax;
}
.JourneyPost {
	width: 35vmax;
	margin-top: 1vmax;
	min-height: 14vmax;
	height: auto;
	background-color: #17161d;
	border-radius: 1.5vmax;
}
.InfoContainer {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}
.UserInfo {
	height: 2vmax;
	padding-top: 1vmax;
	width: 90%;
	display: flex;
	margin: auto;
	justify-content: space-between;
}
.userNickname {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
	margin-left: 0.1vmax;
	color: #FFFFFF;
}
.userAddress {
	width: 5vmax;
	font-size: 0.8vmax;
	display: flex;
	align-items: center;
	justify-content: right;
	color: #41414b;
}
.MediaContent {
	min-height: 1vmax;
	width: 90%;
	height: auto;
	background-color: #050111;
	border-radius: 1vmax;
	margin: auto;
	resize: none;
	color: white;
}
.textareaStyling {
	min-height: 3vmax;
	resize: none;
	background-color: transparent;
	color: white;
	font-size: 1rem;
	width: 95%;
	outline: none;
	padding: 1rem;
	height: 4.5vmax;
	border: none;
	overflow: auto;
	font-family: "mainFont";
}

::placeholder { 
	color: #41414b;
	opacity: 1;
  }

.buttons {
	width: 90%;
	padding-top: 0.5vmax;
	height: 3vmax;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.buttonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 58%;
}

.buttonMedia {
	height: 3vmax;
	width: 5.7vmax;
	background-color: #050111;
	border-radius: 0.75vmax;
}
.buttonCreate {
	height: 3vmax;
	width: 40%;
	font-size: 1.5vmax;
	border-radius: 0.75vmax;
	background-color: #2e63fb;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ProfStyling {
	transform: scale(0.5);
}
@media only screen and (max-width: 1200px) {
	.JourneyPost {
		width: 60vmax;
	}
	.container {
		width: 60vmax;
	}
	.ButtonMedia {
		width: 10vmax;
	}
}

@media only screen and (max-width: 500px) and (min-height: 300px) {
	.JourneyPost {
		margin-top: 4vmax;
		margin-bottom: 2vmax;
		width: 100%;
		/* border-left: none; */
		/* border-right: none; */
		border: none;
		border-radius: 0px;
		padding-bottom: 1vmax;
	}

	.textareaStyling {
		font-size: 0.75rem;
	}

	.buttonsContainer {
		width: 100%;
	}

	.buttonMedia {
		height: 5vmax;
	}

	.buttonCreate {
		margin: 1vmax 0vmax;
		height: 5vmax;
	}

	.buttons {
		margin-top: 2vmax;
		display: block;
	}

	.buttonMedia {
		width: 10vmax;
	}
	.container {
		width: 100%;
		margin-top: 0.5rem;
		margin-bottom: 0rem;
	}

	.JourneyText {
		font-size: 0rem;
	}

	.userNickname {
		font-size: 0.5rem;
	}
}
