.container {
	margin: 2rem auto;
	color: white;
}
.JourneyText {
	text-align: left;
	font-size: 1.75vmax;
}
.JourneyPost {
	width: 35vw;
	margin-top: 1vmax;
	padding-bottom: 1rem;
	min-height: 14vmax;
	height: auto;
	background-color: #17161d;
	border-radius: 1.5vmax;
}

.InfoContainer {
	display: flex;
	flex-direction: row;
	width: 90%;
	padding: 1vmax 0;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.userInfo {
	margin-top: .3rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.userNickname {
	font-size: 1rem;
	font-weight: bold;
	margin-left: 0.4rem;
	color: white;
}

.userAddress {
	margin-top: .3rem;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #41414b;
}
.MediaContent {
	width: 90%;
	height: auto;
	background-color: #050111;
	border-radius: 1vmax;
	margin: auto;
	resize: none;
	color: white;
}
.textareaStyling {
	min-height: 3vmax;
	padding: 1rem;
	resize: none;
	background-color: transparent;
	color: white;
	font-size: 1rem;
	width: 100%;
	outline: none;
	min-height: 4.5vmax;
	border: none;
	overflow: auto;
	font-family: "mainFont";
}

::placeholder {
	color: #41414b;
	opacity: 1;
}

.buttons {
	width: 90%;
	padding-top: 0.5vmax;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.buttonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 68.5%;
}

.buttonMedia {
	height: 5vmax;
	width: 32%;
	box-sizing: border-box;
	background-color: #050111;
	border-radius: 0.75vmax;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.buttonIcon {
	height: 95%;
}

.buttonCreate {
	height: 5vmax;
	width: 30%;
	font-size: 1.5rem;
	border-radius: 0.75vmax;
	background-color: #2e63fb;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.animation {
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.animation:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}

@media only screen and (max-width: 1200px) {
	.JourneyPost {
		width: 80vw;
	}
}

@media only screen and (max-width: 600px) {
	.JourneyPost {
		height: fit-content !important;
		margin-top: 4vmax;
		margin-bottom: 2vmax;
		width: 100%;
		/* border-left: none; */
		/* border-right: none; */
		border: none;
		border-radius: 0px;
		padding-bottom: 1vmax;
	}

	.textareaStyling {
		font-size: 1rem;
		min-height: 5rem;
	}

	.buttonsContainer {
		width: 100%;
	}

	.buttonCreate {
		margin: 1.3vmax auto;
		width: 100%;
		font-size: 1.5rem;
	}

	.buttons {
		margin-top: .7vmax;
		display: block;
	}

	.container {
		width: 100%;
		margin-top: 0.5rem;
		margin-bottom: 0rem;
	}

	.JourneyText {
		font-size: 0rem;
		visibility: hidden;
	}
}
