.container {
	height: 15vmax;
	width: 35vmax;
	margin-top: 0.5vmax;
	justify-content: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
.JourneyText {
	text-align: left;
	font-size: 1.75vmax;
}
.JourneyPost {
	width: 35vmax;
	margin-top: 1vmax;
	height: 13.5vmax;
	background-color: #17161d;
	border-radius: 1.5vmax;
}
.InfoContainer {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}
.UserInfo {
	height: 2vmax;
	padding-top: 1vmax;
	width: 90%;
	display: flex;
	margin: auto;
	justify-content: space-between;
}
.UserNickname {
	display: flex;
	align-items: center;
	font-size: 0.75vmax;
	margin-left: 0.1vmax;
}
.UserAdress {
	width: 5vmax;
	font-size: 0.5vmax;
	display: flex;
	align-items: center;
	justify-content: right;
	color: #535353;
}
.MediaContent {
	width: 90%;
	margin-top: 0.5vmax;
	height: 6vmax;
	background-color: #050111;
	border-radius: 1.5vmax;
	margin: auto;
	resize: none;
	color: white;
}
.TextareaStyling {
	resize: none;
	background-color: transparent;
	color: white;
	font-size: 0.75vmax;
	width: 95%;
	outline: none;
	margin: auto;
	margin-top: 0.5vmax;
	height: 4.5vmax;
	border: none;
	overflow: hidden;
}
.Buttons {
	width: 90%;
	padding-top: 0.5vmax;
	height: 3vmax;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.ButtonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 58%;
}
.ButtonMedia {
	height: 2.5vmax;
	width: 5vmax;
	background-color: #050111;
	border-radius: 0.75vmax;
}
.ButtonCreate {
	height: 2.5vmax;
	width: 40%;
	font-size: 1.5vmax;
	border-radius: 0.75vmax;
	background-color: #2e63fb;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ProfStyling {
	transform: scale(0.5);
}
@media only screen and (max-width: 1200px) {
	.JourneyPost {
		width: 60vmax;
	}
	.container {
		width: 60vmax;
	}
	.ButtonMedia {
		width: 10vmax;
	}
}

@media only screen and (max-width: 500px) and (min-height: 300px) {
	.JourneyPost {
		margin-bottom: 2vmax;
		width: 100%;
		/* border-left: none; */
		/* border-right: none; */
		border: none;
		border-radius: 0px;
		padding-bottom: 1vmax;
	}
	.ButtonMedia {
		width: 10vmax;
	}
	.container {
		width: 100%;
	}
}
