.container {
	text-align: left;
	font-size: 0.9vmax;
	
	display: flex;
	flex-direction: row;
	padding-bottom: 0.5vmax;
	align-self: center;
}
.mainTips {
	color: white;
	margin-right: 0.75vmax;
	
}

.mainTips img {
	width: 0.8vmax;
	margin-right: 0.25vmax;
}

.additionalTips {
	margin-left: 0.75vmax;
	color: #535353;
}

@media only screen and (max-width: 500px) and (min-height: 300px) {
	.container {
		font-size: 2vmax;
	}

	.mainTips img {
		width: 1.4vmax;
		margin-right: 0.5vmax;
	}
}
