.container {
	text-align: left;
	font-size: 1rem;

	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
}
.mainTips {
	color: white;
	margin-right: 0.75rem;
}

.mainTips img {
	width: 0.8rem;
	margin-right: 0.25rem;
}

.additionalTips {
	margin-left: 0.75vmax;
	color: #535353;
}
