.container {
	text-align: left;
	font-size: 0.9vmax;
	border-bottom: 0.1vmax solid #535353;
	display: flex;
	flex-direction: row;
}
.MainTip {
	color: white;
}
.AdditionalTip {
	margin-left: 1.5vmax;
	color: #535353;
}
