.post {
	width: 35vmax;
	border: 0.1vmax solid #535353;
	border-radius: 1.5vmax;
	margin: auto;
	margin-bottom: 2vmax;
	font-size: 1vmp;
	background-color: #17161d;
	word-wrap: break-word;
}
.container {
	width: 90%;
	margin: auto;
	padding-top: 5%;
}
.creator {
	height: 4vmax;
	text-align: left;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.creatorInfo {
	width: 100%;
	margin-left: 0.8vmax;
}
.creatorNick {
	font-size: 1.2vmax;
	font-weight: 600;
	font-family: "Lato", sans-serif;
	color: #fff;
}
.creatorWallet {
	height: 25%;
	margin-top: 0.08vmax;
	font-size: 1vmax;
	font-family: "Lato", sans-serif;
	color: #535353;
}
.text {
	margin-top: 1vmax;
	margin-bottom: 1vmax;
	text-align: left;
	font-size: 1.5vmax;
	font-family: "Lato", sans-serif;
	color: #fff;
}
.mediaContent {
	width: 100%;
	border-radius: 1.5vmax;
	padding-top: 2%;
	margin-bottom: 1vmax;
}
.viewerAction {
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	width: 47%;
	height: 70%;
	aspect-ratio: 6/1;
	border-radius: 0.8vmax;
	margin-top: 1vmax;
	margin-bottom: 1vmax;
	padding: 0.2vmax;
	line-height: 2.5vmax;
	font-size: 1.5vmax;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
}

.buttonBlue {
	composes: button;
	background-color: #2e63fb;
}

.buttonBlack {
	composes: button;
	background-color: #050111;
}

.animation {
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.animation:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}
.popup {
	background-color: #17161d;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2vmax;
	border: 0.1vmax solid #535353;
	width: 50vmax;
	height: 20vmax;
	box-shadow: 1px -1px 54px 11px rgba(0, 110, 236, 0.75);
}

.popupInput {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 5vmax;
	background-color: #050111;
	border: 0px;
	border-radius: 1.5vmax;
	color: #fff;
	font-size: 2.2vmax;
	padding-left: 1vmax;
	margin-right: 0.5vmax;
}

/* Hide input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
/* End of Hide input arrows */

/* currencyChooser styling */
.currencyChooser {
	color: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

select {
	appearance: none;
	background-color: #050111;
	text-align: center;
	border-radius: 1.5vmax;
	border: none;
	font-size: 1.2vmax;
	margin: 0;
	width: 4vmax;
	height: 5vmax;
	font-family: inherit;
	cursor: inherit;
	line-height: inherit;
	color: #fff;
}

select::-ms-expand {
	display: none;
}

/* End of currencyChooser styling */
.popupTip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 5vmax;
	background-color: #2e63fb;
	color: #fff;
	font-size: 2.5vmax;
	font-weight: 600;
	border-radius: 1.5vmax;
	margin-left: 2vmax;
}
@media only screen and (max-width: 1200px) {
	.post {
		width: 50vmax;
	}
}

@media only screen and (max-width: 500px) and (min-height: 300px) {
	.post {
		width: 100%;
		border-left: none;
		border-right: none;
		border-radius: 0px;
	}

	.creator {
		margin-top: 0px;
	}

	.text {
		font-size: 2vmax;
	}

	.buttonBlue {
		height: 5vmax;
		line-height: 5vmax;
		font-size: 2vmax;
		border-radius: 1.4vmax;
	}

	.buttonBlack {
		height: 5vmax;
		line-height: 5vmax;
		font-size: 2vmax;
		border-radius: 1.4vmax;
	}

	.creatorNick {
		font-size: 2vmax;
	}

	.creatorInfo {
		margin-left: 3vmax;
	}

	.text {
		margin-top: 4vmax;
		font-size: 3vmax;
	}

	.profilePicutre {
		transform: scale(2);
		margin-left: 1.8vmax;
		margin-top: 2vmax;
	}
}
