.post {
	width: 35vmax;
	border-radius: 1.5vmax;
	margin: auto;
	margin-bottom: 2vmax;
	padding-bottom: 0.5em;
	font-size: 1vmax;
	background-color: #17161d;
	word-wrap: break-word;
	font-family: "mainFont";
	box-shadow: 0px 0px 10px black;
	transition: all 0.2s;
}
.post:hover {
	transform: scale(1.02);
}
.container {
	width: 90%;
	margin: auto;
	padding-top: 5%;
}
.creator {
	height: 4vmax;
	text-align: left;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.creatorInfo {
	width: 100%;
	margin-left: 0.8vmax;
}
.creatorNick {
	font-size: 1.2vmax;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}
.creatorNick:hover {
	text-decoration: underline !important;
}
.creatorWallet {
	height: 25%;
	margin-top: 0.08vmax;
	font-size: 1vmax;

	color: #535353;
}
.text {
	margin-top: 1vmax;
	margin-bottom: 1vmax;
	text-align: left;
	font-size: 1.5vmax;

	color: #fff;
}
.mediaContent {
	width: 100%;
	border-radius: 1.5vmax;
	padding-top: 2%;
	margin-bottom: 1vmax;
}
.viewerAction {
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	width: 47%;
	height: 70%;
	aspect-ratio: 6/1;

	border-radius: 0.8vmax;
	margin-top: 1vmax;
	margin-bottom: 1vmax;

	padding: 0.2vmax;

	line-height: 2.5vmax;
	font-size: 1.5vmax;
	text-align: center;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #fff;

	cursor: pointer;
	user-select: none;
}

.buttonBlue {
	composes: button;
	background-color: #2e63fb;
}

.buttonBlack {
	composes: button;
	background-color: #050111;
}

.buttonOff {
	composes: button;
	background-color: gray;
	cursor: default;
}

.animation {
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.animation:hover {
	transform: scale(1.08);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}

@media only screen and (max-width: 1200px) {
	.post {
		width: 60vmax;
	}

	.button {
		font-size: 2em;
	}
}

@media only screen and (max-width: 500px) and (min-height: 300px) {
	.post {
		margin-bottom: 2vmax;
		width: 100%;
		/* border-left: none; */
		/* border-right: none; */
		border: none;
		border-radius: 0px;
		padding-bottom: 1vmax;
	}

	.post:hover {
		transform: scale(1);
	}

	.animation:hover {
		transform: scale(1);
	}

	.creator {
		margin-top: 0px;
	}

	.text {
		font-size: 2vmax;
	}

	.button {
		height: 5vmax;
		line-height: 5vmax;
		font-size: 2.5em;
		border-radius: 1.4vmax;
	}

	.creatorNick {
		font-size: 2vmax;
	}

	.creatorInfo {
		margin-left: 1.3vmax;
	}

	.text {
		margin-top: 4vmax;
		font-size: 3vmax;
	}
}

/* Hide input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
/* End of Hide input arrows */
