.container {
	width: 100%;
	margin-bottom: 1vmax;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.textAreaContainer {
	box-sizing: border-box;
	width: 100%;
	border-radius: 1vmax;
}

.textArea {
	box-sizing: border-box;

	width: 100%;
	min-height: 4.5rem;
	overflow: auto;

	color: white;
	background-color: #050111;

	align-items: flex-start;
	justify-content: flex-start;
	text-align: start;

	border: none;
	outline: none;
	border-radius: inherit;

	resize: none;
	font-family: "Lato", sans-serif;
	font-size: 1vmax;

	padding: 0.8rem 5%;
}

.button {
	border-radius: 0.8vmax;
	margin: 0.7vmax 0;
	padding: 0 1vmax;

	line-height: 2.5vmax;
	font-size: 1rem;
	font-family: "Lato", sans-serif;
	font-weight: 600;

	text-align: center;

	color: #fff;
	background-color: #2e63fb;

	user-select: none;

	cursor: pointer;
}

.buttonDisabled {
	composes: button;
	background-color: #535353;
	cursor: not-allowed;
}
