.creator {
	text-align: left;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.profContainer {
	height: 100%;
	aspect-ratio: 1/1;
}
.creatorInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.userInfoContainer {
	width: 100%;
	margin-left: .3rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.creatorNick {
	font-size: 0.9rem;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.creatorNick:hover {
	text-decoration: underline;
}
.creatorWallet {
	font-size: 0.7rem;
	font-family: "Lato", sans-serif;
	color: #535353;
	display: flex;
	align-items: center;
	justify-content: right;
}
.textContainer {
	margin-top: 0.7rem;
	background-color: #050111;
	border-radius: 1vmax;
}
.text {
	width: 90%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	margin: auto;
	text-align: left;
	font-size: .85rem;
	font-family: "Lato", sans-serif;
	color: #fff;
}

@media only screen and (max-width: 600px) {
	.creatorWallet {
		font-size: 0;
		visibility: hidden;
	}
}