.navbar {
	width: 100%;
	height: auto;
	background-color: #17161d;
	border-bottom: 0.1vmax solid #535353;
	margin-bottom: 2vmax;
	display: flex;
	align-items: center;
	position: fixed;
	margin-bottom: 5vmax;
}
.navbarButtonLeft {
	width: 10vmax;
	height: 60%;
	background-color: #2e63fb;
	color: #fff;
	border-radius: 0.8vmax;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	line-height: 3vmax;
	font-size: 1.8vmax;
	text-align: center;
	font-family: "Lato", sans-serif;
	border: 0px;
}

.navbarRight {
	box-shadow: none;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-right: 1vmax;
}
.navbarLeft {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1vmax;
}
.navbarButtonRight {
	width: 10vmax;
	background-color: #2e63fb;
	color: #fff;
	border-radius: 0.8vmax;
	font-weight: 600;
	line-height: 3vmax;
	font-size: 1.8vmax;
	text-align: center;
	font-family: "Lato", sans-serif;
	border: 0px;
	display: flex;
	justify-content: center;
	justify-self: right;
}
.profilePictureButton {
	width: 10vmax;
	display: flex;
	justify-content: flex-end;
}

.animation {
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.animation:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}

.logo {
	margin: auto;
	width: auto;
	justify-content: center;
	align-self: center;
	height: 100%;
	color: #fff;
	font-family: "Helvetica", sans-serif;
	font-weight: 700;
	font-size: 2vmax;
	line-height: 5vmax;
	background-color: inherit;
	border: 0px;

	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.logo:hover {
	color: #2e63fb;
	font-size: 2.25vmax;
}
