.navbar {
	width: 100%;
	height: auto;
	background-color: #17161d;
	border-bottom: 0.1vmax solid #535353;
	margin-bottom: 2vmax;
	overflow: auto;
}

.navbarButtonLeft {
	width: 10vmax;
	height: 60%;
	background-color: #2e63fb;
	color: #fff;
	border-radius: 0.8vmax;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	line-height: 3vmax;
	font-size: 1.8vmax;
	text-align: center;
	margin-top: 1vmax;
	margin-left: 1vmax;
	font-family: "Lato", sans-serif;
	display: inline;
	float: left;
	border: 0px;
}

.balance {
	float: left;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 1vmax;
	margin-top: 2vmax;
	margin-left: 1vmax;
	margin-right: -20vmax;
}

.navbarButtonRight {
	width: 10vmax;
	margin-top: -4vmax;
	margin-right: 1vmax;
	float: right;
	background-color: #2e63fb;
	color: #fff;
	border-radius: 0.8vmax;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	line-height: 3vmax;
	font-size: 1.8vmax;
	text-align: center;
	font-family: "Lato", sans-serif;
	display: inline;
	border: 0px;
}

.walletAddress {
	color: #fff;
	float: right;
	margin-top: -4vmax;
	font-size: 1vmax;
	margin-right: 12vmax;
	font-weight: 300;
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
	background-color: #1a1a1a;
	border: 0px;
	font-family: "Lato", sans-serif;
}

.walletAddress:hover {
	color: #2e63fb;
	font-size: 1.1vmax;
}

.animation {
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.animation:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}

.logo {
	display: inline-block;
	justify-content: center;
	margin-left: -12vmax;
	width: auto;
	position: relative;
	height: 100%;
	color: #fff;
	font-family: "Helvetica", sans-serif;
	font-weight: 700;
	font-size: 2vmax;
	line-height: 5vmax;
	background-color: #1a1a1a;
	border: 0px;

	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transition-duration: 300ms;
}

.logo:hover {
	color: #2e63fb;
	font-size: 2.25vmax;
}
