a {
	width: auto;
}

.container {
	height: 10vmax;
	width: 15vmax;
	color: white;
	position: fixed;
	display: flex;
	flex-direction: column;
	font-family: "mainFont";
}
.logo {
	width: 3vmax;
	height: auto;
	margin-left: 1vmax;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.icon {
	width: 1vmax;
	margin-right: 0.5vmax;
}
.action {
	font-size: 1vmax;
	margin-left: 1vmax;
	width: 10vmax;
	margin-top: 0.75vmax;
	display: flex;
	justify-content: left;
	color: white;
}
a:link {
	text-decoration: none;
}
@media only screen and (max-width: 1200px) {
	.container {
		bottom: 0px;
		z-index: 9999;
		margin-bottom: 2vmax;
	}
	.logo {
		width: 0vmax;
		height: auto;
		margin-left: 1vmax;
		align-self: left;
	}
	.icon {
		width: 4vmax;
		height: auto;
		margin-top: 0.5vmax;

		margin-right: 0.5vmax;
	}
	.action {
		font-size: 0vmax;
	}
}
