.container {
	position: fixed;
}

.menuItems {
	height: 10vmax;
	width: 15vmax;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: "mainFont";
}
.logo {
	width: 4vmax;
	height: auto;
	margin-left: 1rem;
	margin-top: 1rem;
}
.icon {
	width: 2vmax;
	height: 2vmax;
	margin-right: 0.5vmax;
}
.action {
	margin-left: 1vmax;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	color: white;
	font-weight: bold;
}

.menuItem {
	font-size: 1.5vmax;
	margin: 0px;
}

a:link {
	text-decoration: none;
}
@media only screen and (max-width: 1200px) {
	.container {
		margin: 0px !important;
		bottom: 0px;
		width: 100%;
		z-index: 9999;
	}

	.menuItems {
		margin: 0px !important;
		bottom: 0px;
		width: 100%;
		height: 5vmax;
		background-color: #050111;

		margin-bottom: 2vmax;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.logo {
		margin: 0px;
		width: 0vmax;
		height: auto;
		margin-left: 1vmax;
		align-self: left;
	}
	.icon {
		width: 4vmax;
		height: 4vmax;
	}
	.action {
		font-size: 0vmax;
		margin: 0px;
	}

	.menuItem {
		font-size: 0px;
	}
}
