.loginStepsContainer {
	display: flex;
	justify-content: center;
	margin: 0rem 22vw;
	flex-wrap: nowrap;
	color: #ffffff;
	font-family: "mainFont";
}

.loginStep {
	background-color: #17161d;
	width: 30%;
	min-height: 13rem;
	height: auto;
	margin: 2vw 1vw;
	border-radius: 2rem;
	text-align: center;
}

.loginStepNumber {
	background-color: #2e63fb;
	width: 2.4rem;
	height: 2.4rem;
	line-height: 2.4rem;
	border-radius: 100rem;
	margin: 1rem auto;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginStepNumberInactive {
	border: 0.15rem solid #41414b;
	color: #41414b;
	background-color: transparent;
}

.activeLoginStep {
	border: 0.2rem solid #2e63fb;
}

.completedLoginStep {
	border: 0.2rem solid #62d571;
}

.loginStepInfo {
	font-size: 2.5em;
	font-weight: bold;
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: center;
}

.loginStepInfoInactive {
	color: #41414b;
	font-weight: normal;
}

.actionContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mintInfo {
	width: 35vw;
	min-height: 20vh;
	border: 0.13rem solid #41414b;
	border-radius: 2rem;
	margin: 1rem auto;
	padding: 1rem;
	color: #ffffff;
}

.button {
	margin: auto;
	font-family: "mainFont", "Roboto", sans-serif;
	background-color: #2e63fb;
	border: none;
	border-radius: 1rem;
	color: #ffffff;
	font-size: 2rem;
	padding: 1rem 2rem;
	font-weight: bold;
	cursor: pointer;
	width: 35vw;
}

.allDoneText {
	color: #ffffff;
	text-align: center;
	font-size: 2rem;
}

@media only screen and (max-width: 600px) {
	.loginStepsContainer {
		flex-wrap: wrap;
	}

	.loginStep {
		margin: 1rem 0rem;
		width: 100%;
		min-height: 10vmax;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.loginStepNumber {
		width: 0rem;

		height: 0rem;
		line-height: 0rem;
		font-size: 0px;
		margin: 0px;
	}

	.loginStepNumberInactive {
		border: none;
	}

	.loginStepInfo {
		font-size: 2rem;
		margin: auto auto;
		padding: 0rem;
	}

	.loginStepInfoInactive {
		font-size: 2rem;
	}

	.loginStepsContainer {
		margin: 0rem 1rem;
	}

	.mintInfo {
		width: 90%;
	}

	.button {
		margin-bottom: 10vh;
		width: 90%;
	}
}

@media only screen and (max-width: 1200px) {
	.loginStepsContainer {
		justify-content: center;
	}

	.mintInfo {
		width: 80vw;
	}

	.button {
		width: 80vw;
	}
}
